@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

:root {
  --light-text-color: hsl(0, 0%, 92%);
  --glowing-color: hsl(200, 66%, 70%);

  font-size: calc(6px + 0.4vw);
  font-family: 'Merriweather Sans', sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
}